@media only screen and (max-width: 600px)
{

  .g-con-showcase
{
  grid-row: 1/45;
}

#homelogo
{
  width:28vw;
  margin-top: 5vh;
  margin-left: 4vw;
  margin-right: 45vw;
  stroke:#000;
}

  .g-con-menu{display:none;}
  .g-con-menu-mob{grid-row: 45/102;}
  .g-con-menu-mob{display: inline;}

  #menumob
{
  font-family: 'blackest';
  font-size:13vw;
  padding-bottom: 6vh;
}
}
