@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2)
    {

  .g-con-showcase
{
  grid-row: 1/35;
}

#homelogo
{
  width:36vw;
  margin-top: 5vh;
  margin-left: 4vw;
  margin-right: 45vw;
  stroke:#000;
}

  .g-con-menu{display:none;}
  .g-con-menu-mob{grid-row: 35/102;}
  .g-con-menu-mob{display: inline;margin-left: 4vw;}

  #menumob
{
  font-family: 'blackest';
  font-size:13vw;
  padding-bottom: 6vh;
  line-height: 8vh;
  letter-spacing: -1px;
}

#noise-canvas
{
  opacity: .24;
}
}
