@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@font-face {
  font-family: blackest;
  src: url(Blackest Extra Bold.otf);
}

html { font-size:100%; }

body{margin: 0 auto;
background-color:#000000; }

.g-con
{
  display: grid;
  grid-template-rows:repeat(100,1fr);
  width:100%;
  height:100vh;
}

.g-con-head
{
  grid-row: 2/16;
  width:100%;
  display: grid;
  grid-template-columns:repeat(100,1fr);
}

.g-con-head-logo
{
  grid-column: 6/25;
}

.g-con-head-about
{
  grid-column: 75/95;
  text-align: right;
  padding-right: 10%;
  padding-top: 7.8%;
}

.g-con-body
{
  grid-row: 16/85;
  display: grid;
  grid-template-columns:repeat(100,1fr);
}


.titles1
{
   grid-column: 9/77;
    font-family: 'blackest';
    font-size: 8rem;
    color:#6DC2E8;
    height:68%;
      margin-top: -2%;
}

.titles2
{
   grid-column: 28/95;
    font-family: 'blackest';
    font-size: 8rem;
    color:#6DC2E8;
    height:68%;
    margin-top: -10%;
}

.lables1
{
  grid-column: 7/9;
    font-family: 'DM Sans', sans-serif;
    color:#6DC2E8;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top:270%;
}

.lables2
{
  grid-column: 26/28;
    font-family: 'DM Sans', sans-serif;
    color:#6DC2E8;
    font-size: 1.2rem;
}

.herefor
{
    grid-column: 1/101;
    font-family: 'DM Sans', sans-serif;
    color:#6DC2E8;
    font-size: 1.2rem;
    text-align: center;
}

.g-con-footer
{
  grid-row: 85/101;
  display: grid;
  grid-template-columns:repeat(100,1fr);
}

.g-con-footer-mail
{
  grid-column: 6/21;
  padding-top: 14%;
}

.g-con-footer-space
{
}

.g-con-footer-other
{
  grid-column: 80/95;
  text-align: right;
  padding-top: 14%;
}

#homelogo
{
  width:25%;
  padding:3vh;
  stroke:#6DC2E8;
}


h3
{
    font-family: 'DM Sans', sans-serif;
    color:#6DC2E8;
    font-size: 1.2rem;
}
